accelerate==0.21.0
av==11.0.0
diffusers==0.24.0
einops==0.4.1
matplotlib==3.10.1
mlflow
numpy==2.2.3
omegaconf==2.2.3
onnxruntime_gpu
opencv_contrib_python==4.8.1.78
opencv_python==4.8.1.78
Pillow==11.1.0
safetensors==0.5.3
torch
torchvision
tqdm==4.66.1
transformers
xformers
